* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
  margin: 0 0 $header-height;
  font-family: $body-font;
  color: $text-color;
  font-size: $normal-font-size;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// section

.section {
  padding: 2rem 0 4rem;

  &_title {
    font-size: $h1-font-size;
    text-align: center;
  }

  &_subtitle {
    display: block;
    font-size: $small-font-size;
    margin-bottom: $mb-3;
    text-align: center;
  }
}

// container

.container {
  max-width: 768px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

// button
.button {
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;

  &:hover {
    background-color: $first-color-alt;
  }

  .button_icon {
    font-size: 1.25rem;
    margin-left: $mb-0-5;
    transition: 0.3s;
  }

  .button--flex {
    display: inline-flex;
    align-items: center;
  }
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
