.home {
  .home_container {
    gap: 1rem;

    .home_content {
      grid-template-columns: 0.5fr 3fr;
      padding-top: 3.5rem;
      align-items: center;
    }

    .home_social {
      display: grid;
      grid-template-columns: max-content;
      row-gap: 1rem;

      .home_social-icon {
        font-size: 1.25rem;
        color: $first-color;

        &:hover {
          color: $first-color-alt;
        }
      }
    }

    .home_img {
      .home_svg {
        width: 200px;
        fill: $first-color;

        .home_svg-img {
          width: 170px;
        }
      }
    }

    .home_data {
      grid-column: 1/3;

      .home_title {
        font-size: $big-font_size;
      }

      .home_subtitle {
        font-size: $h3-font-size;
        color: $text-color;
        font-weight: $font-medium;
        margin-bottom: $mb-0-75;
      }

      .home_description {
        margin-bottom: $mb-2;
      }
    }

    .home_scroll {
      display: none;

      .home_scroll-button {
        color: $first-color;
        transition: 0.3s;

        &:hover {
          transform: translateY(0.25rem);
        }

        .home_scroll-mouse {
          font-size: 2rem;
        }

        .home_scroll-name {
          font-size: $small-font-size;
          color: $first-color;
          font-weight: $font-medium;
          margin-right: $mb-0-25;
        }

        .home_scroll-arrow {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .home_content {
    grid-template-columns: 0.25fr 3fr;

    .home_svg {
      width: 180px;
    }
  }
}

@media screen and (min-width: 568px) {
  .home_content {
    grid-template-columns: max-content 1fr 1fr !important;

    .home_data {
      grid-column: initial !important;
      margin-left: 25px;
      margin-top: 25px;
    }

    .home_img {
      order: 1;
      justify-self: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .home_container {
    row-gap: 5rem;

    .home_content {
      padding-top: 5rem;
      column-gap: 2rem;

      .home_img {
        .home_svg {
          width: 270px;
          fill: $first-color;

          .home_svg-img {
            width: 170px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home_img {
    .home_svg {
      width: 320px !important;
      fill: $first-color;

      .home_svg-img {
        width: 170px;
      }
    }
  }

  .home_social {
    transform: translateX(-5rem);
  }
}
