.portfolio_container {
  overflow: initial;
  position: relative;

  .portfolio_content {
    padding: 0 1.5rem;

    .portfolio_img {
      width: 265px;
      border-radius: 0.5rem;
      justify-self: center;
    }

    .portfolio_title {
      font-size: $h3-font-size;
      margin-bottom: $mb-0-5;
    }

    .portfolio_description {
      margin-bottom: $mb-0-75;
    }

    .portfolio_button:hover .button_icon {
      transform: translateX(0.45rem);
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: '';
  }

  .swiper-portfolio_icon {
    font-size: 2rem;
    color: $first-color;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -3rem;
}

.swiper-pagination-bullet-active {
  background-color: $first-color;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
  width: 1rem;
  height: 0.5rem;
  border-radius: 0.25rem;
}

@media screen and (min-width: 568px) {
  .portfolio-content {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    .portfolio_img {
      width: 225px;
      height: 185px;
      align-self: center;
      margin-top: 25px;
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio_img {
    width: 320px !important;
  }

  .portfolio_content {
    align-items: center !important;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio_container {
    margin-bottom: 2.5rem;
  }

  .portfolio_content {
    column-gap: 5rem;
    display: flex;
    flex-direction: row !important;
  }
}
