.project {
  text-align: center;

  .project_bg {
    padding-top: 3rem;
    background-color: $first-color-second;

    .project_title {
      font-size: $h2-font-size;
      margin-bottom: $mb-0-75;
    }

    .project_description {
      margin-bottom: $mb-1-5;
    }

    .project_title,
    .project_description {
      color: #fff;
    }

    .project_img {
      width: 232px;
      justify-self: center;
    }
  }
}
