.project {
  text-align: center;

  .project_bg {
    padding-top: 3rem;
    background-color: $first-color-second;

    .project_title {
      font-size: $h2-font-size;
      margin-bottom: $mb-0-75;
    }

    .project_description {
      margin-bottom: $mb-1-5;
    }

    .project_title,
    .project_description {
      color: #fff;
    }

    .project_img {
      width: 232px;
      justify-self: center;
    }
  }
}

@media screen and (max-width: 350px) {
  .project_img {
    width: 200px;
  }
}

@media screen and (min-width: 568px) {
  .project_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project_data {
    align-self: center;
  }

  .project_bg {
    padding-top: 0;
  }

  .project_img {
    width: 225px;
    height: 185px;
    align-self: center;
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .project {
    text-align: initial;

    .project_bg {
      background: none;
    }

    .project_container {
      background-color: $first-color-second;
      border-radius: 1rem;
      padding: 3rem 2.5rem 0;
      grid-template-columns: 1fr max-content;
      column-gap: 3rem;
    }
  }
}
