.qualification {
  .qualification_container {
    .qualification_tabs {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: $mb-3;

      .qualification_buttons {
        font-size: $h3-font-size;
        font-weight: $font-medium;
        cursor: pointer;

        &:hover {
          color: $first-color;
        }

        .qualification_icon {
          font-size: 1.8rem;
          margin-bottom: $mb-0-25;
        }
      }
    }

    .qualification_data {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      column-gap: 1.5rem;

      .qualification_title {
        font-size: $normal-font-size;
        font-weight: $font-medium;
      }

      .qualification_subtitle {
        display: inline-block;
        font-size: $small-font-size;
        margin-bottom: $mb-1;
      }

      .qualification_calender {
        font-size: $small-font-size;
        color: $text-color-light;
      }

      .qualification_rounder {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: $first-color;
        border-radius: 50%;
      }

      .qualification_line {
        display: block;
        width: 1px;
        height: 100%;
        background-color: $first-color;
        transform: translate(8px, -9px);
      }
    }
  }
}

.qualification [data-content] {
  display: none;
}

.qualification_active[data-content] {
  display: block;
}

.qualification_buttons.qualification_active {
  color: $first-color;
}
