.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: $first-color;
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: $z-tooltip;
  transition: 0.4s;

  &_icon {
    font-size: 1.5rem;
    color: #fff;
  }

  &:hover {
    background-color: $first-color-alt;
  }
}

// Show scroll
.show_scroll {
  bottom: 3.5rem;
  right: 2.5rem;
}

// // SCROLL BAR
// ::-webkit-scrollbar {
//   width: 0.6rem;
//   background-color: $scroll-bar-color;
//   border-radius: 0.5rem;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $scroll-thumb-color;
//   border-radius: 0.5rem;

//   &:hover {
//     background-color: $text-color-light;
//   }
// }
