.skills {
  .skills_container {
    row-gap: 0;

    .skills_header {
      display: flex;
      align-items: center;
      margin-bottom: $mb-2-5;
      cursor: pointer;
    }

    .skills_icon,
    .skills_arrow {
      font-size: 2rem;
      color: $first-color;
    }

    .skills_icon {
      margin-right: $mb-0-75;
    }

    .skills_title {
      font-size: $h3-font-size;
    }

    .skills_subtitle {
      font-size: $small-font-size;
      color: $text-color-light;
    }

    .skills_arrow {
      margin-left: auto;
      transition: 0.4s;
    }

    .skills_list {
      .skills_title {
        display: flex;
        justify-content: space-between;
        margin-bottom: $mb-0-5;

        .skills_name {
          font-size: $normal-font-size;
          font-weight: $font-medium;
        }
      }

      .skills_bar,
      .skills_percentage {
        height: 5px;
        border-radius: 0.25rem;
      }

      .skills_bar {
        background-color: $first-color-lighter;
      }

      .skills_percentage {
        display: block;
        background-color: $first-color;
      }

      .skills_html {
        width: 90%;
      }

      .skills_css {
        width: 80%;
      }
      .skills_js {
        width: 65%;
      }
      .skills_react {
        width: 50%;
      }
      .skills_ps {
        width: 87%;
      }
      .skills_ai {
        width: 80%;
      }
      .skills_figma {
        width: 75%;
      }
      .skills_lightRoom {
        width: 80%;
      }
    }

    .skills_close .skills_list {
      height: 0;
      overflow: hidden;
    }

    .skills_open .skills_list {
      height: max-content;
      margin-bottom: $mb-2-5;
    }

    .skills_open .skills_arrow {
      transform: rotate(-180deg);
    }
  }
}

@media screen and (max-width: 350px) {
  .skills_title {
    font-size: $normal-font-size;
  }
}

@media screen and (min-width: 768px) {
  .skills_container {
    grid-template-columns: 1fr 1fr;
  }
}
