.testimonial {
  position: relative;
  overflow: hidden;

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }
}

.testimonial_data,
.testimonial_header {
  display: flex;
}

.testimonial_data {
  justify-content: space-between;
  margin-bottom: $mb-1;

  .testimonial_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: $mb-0-75;
  }

  .testimonial_name {
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }

  .testimonial_client {
    font-size: $small-font-size;
    color: $text-color-light;
  }

  .testimonial_description {
    margin-bottom: $mb-2-5;
  }

  .testimonial_icon-star {
    color: $first-color;
  }

  .swiper-container .swiper-pagination-testimonial {
    bottom: 0;
  }
}

@media screen and (max-width: 350px) {
  .testimonial_data,
  .testimonial_header {
    flex-direction: column;
    align-items: center;
  }

  .testimonial_img {
    margin-right: 0;
    margin-bottom: $mb-0-25;
  }

  .testimonial_data,
  .testimonial_description {
    text-align: center;
  }
}
