@import './variable';
@import './globals';

@import './header';
@import './home';
@import './about';
@import './skills';
@import './qualification';
@import './services';
@import './portfolio';
@import './project';
@import './testimonial';
@import './contact';
